@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Utility Classs */

@layer utilities {
    .container {
        max-width: 1140px;
        width: 100%;
        margin: 0 auto;
    }
}